.svg_1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.svg_2 {
    width: 100%;
    position: absolute;
    bottom: 0px;
}


/* Corps de la page  */

body {
    font-family: "Goldman";
    background-color: #142b4d;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


/* Titres pages (ex : Mes projets, etc...) */



h2 {
    font-family: "Goldman";
    color: #f0ebd8;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    margin-top: 0;
}

/* Barre de navigation  */

.navbar {
    color: #f0ebd8;
    display: flex;
    height: 100px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
}

nav a {
    color: #f0ebd8;
}


.navbar div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

a {
    font-size: 1.98rem;
    text-decoration: none;
    color: #f0ebd8;
}

/* Quand on va sur un élément de la barre de navigation */

a:hover {
    text-decoration: underline;
}

/* Concernant les éléments de la page lorsqu'ils sont redimentionnés */

main {
    flex-grow: 1;
    height: auto;
    z-index: 1;
    /* border: green solid; */
}

.formu {
    flex-grow: 1;
    height: auto;
    z-index: 1;
    /* border: green solid; */
}


/* formulaire contact */

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré */
    padding: 1em;
    border: 5px solid #f0ebd8;
    border-radius: 1em;

    color: #f0ebd8;
}

form div+div {
    margin-top: 5em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #f0ebd8;
}

input:focus,
textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;

    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
}

.button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px;
    /* même taille que les étiquettes */
}

button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
    margin-left: .5em;
}


/* Responsive */


@media screen and (max-width: 900px) {
    h1 {
        font-family: 'Rajdhani';
        color: #f0ebd8;
        font-size: 2rem;
        text-align: center;
        align-items: center;
    }

    h2 {
        font-family: 'Goldman';
        color: #f0ebd8;
        font-size: 3rem;
        text-align: center;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        padding-top: 1.5em;
    }

    .svg_2 {
        display: none;
    }

    .svg_1 {
        display: none;
    }

    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #f0ebd8;
    }

    form {
        /* Uniquement centrer le formulaire sur la page */
        margin: 0 auto;
        width: 150px;
        /* Encadré */
        padding: 1em;
        border: 5px solid #f0ebd8;
        border-radius: 1em;

        color: #f0ebd8;
    }

    form div+div {
        margin-top: 5em;
    }

    label {
        /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
        display: inline-block;
        width: 90px;
        text-align: right;
    }

    input,
    textarea {
        /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, textarea est dans un autre type de police */
        font: 1em sans-serif;

        /* Pour que tous les champs texte aient la même dimension */
        width: 150px;
        box-sizing: border-box;

        /* Pour harmoniser le look & feel des bordures des champs texte */
        border: 1px solid #f0ebd8;
    }

    input:focus,
    textarea:focus {
        /* Pour souligner légèrement les éléments actifs */
        border-color: #000;
    }

    textarea {
        /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
        vertical-align: top;

        /* Pour donner assez de place pour écrire du texte */
        height: 5em;
    }

    .button {
        /* Pour placer le bouton à la même position que les champs texte */
        padding-left: 90px;
        /* même taille que les étiquettes */
    }

    button {
        /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
        margin-left: .5em;
    }
}